@font-face {
  font-family: "ArchitectsDaughter";
  src: url("../fonts/ArchitectsDaughter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

// Font size
:root {
  // headings
  --fs-h1: #{toRem(62)};
  --fs-h2: #{toRem(40)};
  --fs-h3: #{toRem(32)};
  --fs-h4: #{toRem(24)};

  // body
  --fs-xs: #{toRem(12)};
  --fs-s: #{toRem(14)};
  --fs-m: #{toRem(16)};
  --fs-l: #{toRem(18)};
  --fs-xl: #{toRem(20)};

  // weights
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

@media (max-width: 767px) {
  :root {
    --fs-h1: #{toRem(32)};
  }
}
