/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

// Theme colours
:root {
  --font-primary: "ArchitectsDaughter", sans-serif;
  --font-secondary: "Inter", sans-serif;

  --c-primary: #000000;
  --c-secondary: #ffffff;

  --c-grey: #eeeeee;
  --c-neutral: #f6f6f6;
  --c-neutral-dark: #f5f5f5;

  --c-red: #ff0000;

  --c-text: #717171;
}
