.banner-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
}

.banner-media picture,
.banner-media img {
  display: block;
}

.banner-media picture {
  height: 100%;
}

.banner-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
  max-width: 317;
  row-gap: 10px;
  align-items: center;
}

.banner-text .btn {
  margin-top: 50px;
  width: auto;
}

.sale-event-title {
  font-weight: var(--fw-bold);
}

@media (min-width: 768px) {
  .banner-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .banner-media,
  .banner-text {
    min-height: 100%;
  }

  .banner-text {
    padding: clamp(2rem, 5vw, 4rem);
    background-color: var(--c-neutral-dark);
  }
}
