.btn {
  font-size: var(--fs-l);
  transition: all 0.5s ease;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: transparent;
  color: var(--c-primary);
  border: solid 1px var(--c-primary);
}

.btn-secondary {
  background-color: var(--c-primary);
  color: var(--c-secondary);
  border: solid 1px var(--c-primary);
}

.btn-primary:hover {
  background-color: var(--c-primary);
  color: var(--c-secondary);
  border: solid 1px var(--c-primary);
}
