.btn {
  font-size: var(--fs-l);
  border-radius: 6px;
  transition: var(--transition-ui);
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: transparent;
  color: var(--c-primary);
  border: solid 1px var(--c-primary);
}

.btn-secondary {
  background-color: var(--c-primary);
  color: var(--c-secondary);
  border: solid 1px var(--c-primary);
}

.btn-primary:hover {
  background-color: var(--c-primary);
  color: var(--c-secondary);
  border: solid 1px var(--c-primary);
}

@media (min-width: 1023px) {
  .btn {
    padding: 10px 20px;
  }
}
